nav {
    background-color: rgb(241, 238, 238);
    display: flex;
    height: 10vh;
}



body {
    margin: 0px;
    background-color: rgb(203, 212, 203);
}

.nav-left {
    display: flex;
    padding-left: 100px;
    align-items: center;
    width: 50%;
}

.nav-left li {
    display: inline;
}

.nav-left ul {
    display: flex;
    align-items: center;
}

.nav-left ul li a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    text-decoration: none;
    padding: 15px   ; ;
}

.nav-right {
    font-family: arial;
    display: flex;
    flex: 50%;
    justify-content: end;
    align-items: center; 
    padding: 30px;
}

.nav-right a {
    color: white;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 5px;
    background-color: orangered;
}

form {
    margin: 40px auto;
    width: 350px;
    padding: 10px;
}

form div {
    margin-top: 10px;
}

form label {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

form input,select,textarea {
   width: 100%;
   padding: 10px;
   margin-top: 5px;
   background-color: aliceblue;
   border-radius: 5px;
   border: 1px solid black;
}

form button {
    background-color: orangered;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
